name: goreleaser

on:
  push:
    tags:
      - '*'

jobs:
  goreleaser:
    permissions:
      contents: write
    runs-on:
      - self-hosted-ghr
      - size-l-x64
    steps:
      -
        name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Derive release suffix from tag (if it exists)
        run: |
          # Strip the 'refs/tags/' prefix
          TAG_NAME=${GITHUB_REF#refs/tags/}

          # Extract suffix from tag name after the last '-' (e.g., 'dencun' from 'v1.0.0-dencun')
          RELEASE_SUFFIX=${TAG_NAME##*-}

          # Check if the suffix is still a version pattern (e.g., 'v0.0.44'), in which case there's no suffix
          if [[ $RELEASE_SUFFIX =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            RELEASE_SUFFIX=""
          fi

          echo "RELEASE_SUFFIX=$RELEASE_SUFFIX" >> $GITHUB_ENV

          echo "Release suffix: $RELEASE_SUFFIX"
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: '1.22'
      -
        name: Set up NodeJS
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 18
      - name: Run apt-get update
        run: sudo apt-get update
      - name: Install cross-compiler for linux/arm64
        run: sudo apt-get -y install gcc-aarch64-linux-gnu
      - name: Install make
        run: sudo apt-get -y install make
      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      - name: Set up Docker Context for Buildx
        shell: bash
        id: buildx-context
        run: |
          docker context create builders
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          endpoint: builders
      -
        name: Login to DockerHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Update GoReleaser config
        run: |
          cp .goreleaser.yaml ../.goreleaser.yaml.new

          # If we have a RELEASE_SUFFIX, update the goreleaser config to not set
          # the release as the latest
          if [[ -n "$RELEASE_SUFFIX" ]]; then
            echo "release:" >> ../.goreleaser.yaml.new
            echo "  prerelease: true" >> ../.goreleaser.yaml.new
            echo "  make_latest: false" >> ../.goreleaser.yaml.new
          fi
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          distribution: goreleaser
          version: latest
          args: release --clean --config ../.goreleaser.yaml.new
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RELEASE_SUFFIX: ${{ env.RELEASE_SUFFIX }}
