name: Integration test
on:
  push:
    branches:
      - 'master'
    tags:
      - 'v*.*.*'
  pull_request:

jobs:
  run-test:
    strategy:
      fail-fast: false
      matrix:
        consensus: [lighthouse, teku, prysm, nimbus, lodestar]
        network: [mainnet, holesky]
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - name: Print details
        run: |
          echo "Consensus: ${{ matrix.consensus }}"
          echo "Network: ${{ matrix.network }}"
      - name: Run ${{ matrix.network }}-${{ matrix.consensus }}
        id: run-test
        uses: ./.github/actions/checkpoint-sync
        with:
          consensus: ${{ matrix.consensus }}
          network: ${{ matrix.network }}
          beacon_node_url: ${{ matrix.network == 'mainnet' && secrets.MAINNET_BEACON_NODE_URL || secrets.HOLESKY_BEACON_NODE_URL }}