name: Integration test
on:
  push:
    branches:
      - 'master'
    tags:
      - 'v*.*.*'
  pull_request:

jobs:
  run-test:
    strategy:
      fail-fast: false
      matrix:
        include:
          # Mainnet
          - {consensus: lighthouse, network: mainnet, image: 'sigp/lighthouse:latest'}
          - {consensus: teku, network: mainnet, image: 'consensys/teku:latest'}
          - {consensus: prysm, network: mainnet, image: 'gcr.io/prysmaticlabs/prysm/beacon-chain:latest'}
          - {consensus: nimbus, network: mainnet, image: 'statusim/nimbus-eth2:amd64-latest'}
          - {consensus: lodestar, network: mainnet, image: 'chainsafe/lodestar:latest'}
          # Hoodi
          - {consensus: lighthouse, network: hoodi, image: 'sigp/lighthouse:v8.0.0'}
          - {consensus: teku, network: hoodi, image: 'consensys/teku:25.11.0'}
          - {consensus: prysm, network: hoodi, image: 'gcr.io/prysmaticlabs/prysm/beacon-chain:v6.1.1'}
          - {consensus: nimbus, network: hoodi, image: 'statusim/nimbus-eth2:amd64-v25.11.0'}
          - {consensus: lodestar, network: hoodi, image: 'chainsafe/lodestar:v1.36.0'}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - name: Print details
        run: |
          echo "Consensus: ${{ matrix.consensus }}"
          echo "Network: ${{ matrix.network }}"
          echo "Image: ${{ matrix.image }}"
      - name: Set beacon node URL
        id: set-url
        run: |
          if [ "${{ matrix.network }}" = "mainnet" ]; then
            echo "beacon_node_url=${{ secrets.MAINNET_BEACON_NODE_URL }}" >> $GITHUB_OUTPUT
          else
            echo "beacon_node_url=${{ secrets.HOODI_BEACON_NODE_URL }}" >> $GITHUB_OUTPUT
          fi
      - name: Run ${{ matrix.network }}-${{ matrix.consensus }}
        id: run-test
        uses: ./.github/actions/checkpoint-sync
        with:
          consensus: ${{ matrix.consensus }}
          network: ${{ matrix.network }}
          beacon_node_url: ${{ steps.set-url.outputs.beacon_node_url }}
          consensus_image: ${{ matrix.image }}