name: Integration test
on:
  push:
    branches:
      - 'master'
    tags:
      - 'v*.*.*'
  pull_request:

jobs:
  run-test:
    strategy:
      fail-fast: false
      matrix:
        consensus: [lighthouse, teku, prysm, nimbus, lodestar]
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Print details
        run: |
          echo "Consensus: ${{ matrix.consensus }}"
      - name: Run mainnet-${{ matrix.consensus }}
        id: run-test
        uses: ./.github/actions/checkpoint-sync
        with:
          consensus: ${{ matrix.consensus }}
          network: 'mainnet'
          beacon_node_url: ${{ secrets.MAINNET_BEACON_NODE_URL }}